/*========================*/
/*== 992px to 1200px LG ==*/
/*========================*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main_contant_section .margin_top {
    margin-top: 5px;
  }
}

/*========================*/
/*== 768px to 991px MD ==*/
/*========================*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .menu_top_section .box-2 ul {
    padding-left: 0px;
    float: none;
    margin-top: 10px;
  }
  .my_collapse ul {
    margin-top: 15px;
  }
  .my_collapse ul li {
    margin: 0 auto;
  }
  .my_collapse ul li:last-child {
    margin: 0 auto;
  }
  .main_contant_section .margin_top {
    margin-top: 5px;
  }
}

/*========================*/
/*== 576px to 767px SM ==*/
/*========================*/

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .menu_top_section .box-2 ul {
    padding-left: 0px;
    float: none;
    margin-top: 10px;
  }
  .my_collapse ul {
    margin-top: 15px;
  }
  .my_collapse ul li {
    margin: 0 auto;
  }
  .my_collapse ul li:last-child {
    margin: 0 auto;
  }
  .main_contant_section .margin_top {
    margin-top: 5px;
  }
}

/*========================*/
/*== max-width 575px ==*/
/*========================*/

@media only screen and (max-width: 575px) {
  .menu_top_section .box-2 ul {
    padding-left: 0px;
    float: none;
    margin-top: 10px;
  }
  .my_collapse ul {
    margin-top: 15px;
  }
  .my_collapse ul li {
    margin: 0 auto;
  }
  .my_collapse ul li:last-child {
    margin: 0 auto;
  }
  .main_contant_section .margin_top {
    margin-top: 5px;
  }
}

/*========================*/
/*== max-width 490px ==*/
/*========================*/

@media only screen and (max-width: 490px) {
  .menu_top_section .box-2 ul {
    padding-left: 0px;
    float: none;
    margin-top: 10px;
  }
  .my_collapse ul {
    margin-top: 15px;
  }
  .my_collapse ul li {
    margin: 0 auto;
  }
  .my_collapse ul li:last-child {
    margin: 0 auto;
  }
  .main_contant_section .margin_top {
    margin-top: 5px;
  }
}


